@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

body {
    background-color: #ffe9da;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: #5d4037;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Akaya Kanadaka', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    color: white
}

h2 {
   font-family: 'Akaya Kanadaka', sans-serif;
   color: #ff9e80; 
}

h3 {
    font-size: 2rem;
    margin: 0;
    color: #978079;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #bea198;
}

a {
    margin: 2px;
    text-decoration: none;
    color: black;
}

a, p {
    font-family: monospace;
}
